body {
    padding: 10px;
    margin: 0px;
}

h1 {
    display: flex;
    justify-content: center;
    color: #00008B;
    font-size: 3rem;
}

h2 {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 2rem;
}
p {
    display: flex;
    justify-content: center;
    border: solid 1px black;
    border-radius: 20px;
}
#user {
    border: none;
}

#pH {
    color: #00008B;
}

#pH:hover {
    border-color: white;
    color: white;
    background-color: #00008B;
}

#eu {
    color: #1E90FF;
}

#eu:hover {
    border-color: white;
    color: white;
    background-color: #1E90FF;
}

#lista {
    color: black;
}

#lista:hover {
    border-color: white;
    color: white;
    background-color: black;
}

#projetos {
    display: none;
    justify-content: center;
    flex-direction: column;
}

#pokedex {
    color: red;
}

#pokedex:hover {
    border-color: white;
    color: white;
    background-color: red;
}

