body {
    padding: 0px;
    margin: 0px;

}

h1 {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 50px;
}

#sGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../Projeto1/images/sonicboom.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

#pers {
    height: 25%;
    width: 25%;
    margin: 0 0 0 0px;
}

#name {
    text-align: center;
    padding: 0 0 0 0;
    background-color: rgb(40, 54, 240);
}

#hName {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    font-family: monospace;
    font-size: 50px;
}

#btn {
    padding: 10px 5px 10px 5px;
    border-radius: 30px;
}

#btn:hover {
    background-color: midnightblue;
    color: azure
}

footer {}
