<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <nav><p id="home"><a href="./index">HOME</a>"</p></nav>
        <h1>CADASTRO</h1>
    </header>
    <main>
        <section id="dados">
            <p>IMAGEM</p>
            <article>
                <input type="text" placeholder="URL DA IMAGEM">
            </article>
            <p>NOME</p>
            <article>
                <input type="text" placeholder="DIGITE O NOME DO POKEMON">
            </article>
            <p>NUMERO</p>
            <article>
                <input type="text" placeholder="DIGITE O NUMERO DO POKEMON">
            </article>
            <p>TIPO</p>
            <article>
                <input type="text" placeholder="DIGITE O TIPO DO POKEMON">
            </article>
            <p>HABILIDADE</p>
            <article>
                <input type="text" placeholder="DIGITE A HABILIDADE DO POKEMON">
            </article>
            <p>ALTURA</p>
            <article>
                <input type="text" placeholder="DIGITE A ALTURA DO POKEMON">
            </article>
            <p>PESO</p>
            <article>
                <input type="text" placeholder="DIGITE O PESO DO POKEMON">
            </article>
            <input type="button" id="enviar" value="SALVAR"><a href="./details">.</a>button>
        </section>
    </main>
</body>
</html>