body {}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    background-image: url(../Aula02-projeto1/images/sonicboom.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 250px;
    width: 100%;
}

#sGame {
    display: flex;
    justify-content: baseline;
}

#name {
    text-align: center;
    padding: 0 0 0 0;
    background-color: rgb(40, 54, 240);
}

#hName {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    font-family: monospace;
    font-size: 50px;
}

#sit {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 0 0 0 0;
}

.sit {
    font-size: 20px;
}

#pers {

    margin: 0 0 0 200px;
}

#game {
    color: mediumblue;
    font-size: 40px;
    padding: 80px 0 0 0;
    margin: 0 0 0 100px;
    float: left;
}

#btn {
    padding: 10px 5px 10px 5px;
    margin: 0 0 20px 0;
    border-radius: 30px;
}

#btn:hover {
    background-color: midnightblue;
    color: azure
}

footer {}
